<% if @book.errors.any? %> 
    <% @book.errors.full_messages.each do |message| %> 
        <p><%= message %></p>
    <% end %>
<% end %>

<%= form_with(model: @book) do |form| %>
    <p><%= form.label :title %> <%= form.text_field :title%></p>
    <p><%= form.label :description %> <%= form.text_area :description%></p>
    <%= form.submit "Save Book" %>
<% end %>